In [5]:
import pandas as pd
df = pd.read_csv("C:\Documents\homeprices.csv")
df

                town  area   price
0   monoroe township  2600  550000
1   monoroe township  3000  565000
2   monoroe township  3200  610000
3   monoroe township  3600  680000
4   monoroe township  4000  725000
5       west windsor  2600  585000
6       west windsor  2800  615000
7       west windsor  3300  650000
8       west windsor  3600  710000
9       robbinsville  2600  575000
10      robbinsville  2900  600000
11      robbinsville  3100  620000
12      robbinsville  3600  695000

In [8]:
dummies = pd.get_dummies(df.town)

In [10]:
merged = pd.concat([df,dummies], axis='columns')
merged

,town,area,price,monoroe township,robbinsville,west windsor
0,monoroe township,2600,550000,True,False,False
1,monoroe township,3000,565000,True,False,False
2,monoroe township,3200,610000,True,False,False
3,monoroe township,3600,680000,True,False,False
4,monoroe township,4000,725000,True,False,False
5,west windsor,2600,585000,False,False,True
6,west windsor,2800,615000,False,False,True
7,west windsor,3300,650000,False,False,True
8,west windsor,3600,710000,False,False,True
9,robbinsville,2600,575000,False,True,False
10,robbinsville,2900,600000,False,True,False
11,robbinsville,3100,620000,False,True,False
12,robbinsville,3600,695000,False,True,False

In [11]:
final = merged.drop(['town', 'west windsor'], axis = 'columns')
final

    area   price  monoroe township  robbinsville
0   2600  550000              True         False
1   3000  565000              True         False
2   3200  610000              True         False
3   3600  680000              True         False
4   4000  725000              True         False
5   2600  585000             False         False
6   2800  615000             False         False
7   3300  650000             False         False
8   3600  710000             False         False
9   2600  575000             False          True
10  2900  600000             False          True
11  3100  620000             False          True
12  3600  695000             False          True

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [15]:
X = final.drop('price', axis = 'columns')
X

    area  monoroe township  robbinsville
0   2600              True         False
1   3000              True         False
2   3200              True         False
3   3600              True         False
4   4000              True         False
5   2600             False         False
6   2800             False         False
7   3300             False         False
8   3600             False         False
9   2600             False          True
10  2900             False          True
11  3100             False          True
12  3600             False          True

In [16]:
y = final.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [17]:
model.fit(X,y)

LinearRegression()

In [18]:
model.predict([[2800,0,1]])

C:\Users\kunal\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.63964739])

In [19]:
model.predict([[3400,0,0]])

C:\Users\kunal\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.66845839])

In [20]:
model.score(X,y)

0.9573929037221873

In [21]:
df

                town  area   price
0   monoroe township  2600  550000
1   monoroe township  3000  565000
2   monoroe township  3200  610000
3   monoroe township  3600  680000
4   monoroe township  4000  725000
5       west windsor  2600  585000
6       west windsor  2800  615000
7       west windsor  3300  650000
8       west windsor  3600  710000
9       robbinsville  2600  575000
10      robbinsville  2900  600000
11      robbinsville  3100  620000
12      robbinsville  3600  695000

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [24]:
dfle = df
dfle.town = le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [26]:
X = dfle[['town', 'area']].values
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [27]:
y = dfle.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [31]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [32]:

column_transformer = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), [0])  # Apply OneHotEncoder to the first column
    ],
    remainder='passthrough'  # Keep the remaining columns as they are
)

In [38]:
transformed_data  = column_transformer.fit_transform(X)
if hasattr(transformed_data, 'toarray'):
    transformes_data = transformed_data.toarray()

In [39]:
transformed_data

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [42]:
X = transformed_data

In [43]:
X = X[:,1:]
X

array([[0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 3.6e+03]])

In [44]:
model.fit(X,y)

LinearRegression()

In [45]:
model.predict([[1,0,2800]])

array([590775.63964739])

In [47]:
model.predict([[0,1,3400]])

array([681241.6684584])